Work Order {{work_order.id}} ||
<a [routerLink]="['/pages/units/unit_detail/', unit.id]"><font color="red">View Unit</font></a>
<span *ngIf="edit===false">||
    <button class="btn btn-warning btn-tn" (click)="editWO(true)">Edit Work Order Status</button>
    </span>
<span *ngIf="!unit_status_edit;">||
      <button class="btn btn-success btn-tn" (click)="editUS(true)">Edit Unit Status</button>
    </span>
<span *ngIf="work_order.created_by_log === true"> ||
      <button class="btn btn-warning btn-tn" (click)="confirmWorkOrder()">Confirm Work Order</button>
    </span>
