<div class="modal-header">
  <span>Edit Company</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row show-grid">
    <div class="col-sm-6 input-group">
      <label for="name" class="col-sm-4 form-control">Company Name </label>
      <input id="name" [(ngModel)]="company.name" name="name" class="form-control">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="updateCompany(company)">Submit
      <i class="material-icons right">&rarr;</i>
    </button>
  </div>
</div>
