<nb-card>
  <nb-card-header>
    <div class="col s12 row">
      <div class="col s6">
        User Information
      </div>
      <div class="input-field col s6" *ngIf="wants_to_change_password === false;">
        <button class="btn btn-danger btn-tn" (click)="changePassword()">Change Password</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row col s12" *ngIf="!wants_to_change_password">
      <div class="col-sm-6 input-group">
        <label for="email" class="col-sm-4 form-control">Email </label>
        <input required [(ngModel)]="user.email" id="email" name="email" type="email" class="validate"
               class="form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label class="col-sm-4 form-control">Employee # </label>
        <input placeholder="Employee #" [(ngModel)]="user.employee_number" id="employee_number" name="employee_number"
               class="validate" class="form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="name" class="col-sm-4 form-control">Name </label>
        <input placeholder="Name/Alias (First Name and Last)" [(ngModel)]="user.name" id="name" name="name"
               class="validate" class="form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="job_name" class="col-sm-4 form-control">Job </label>
        <select id="job_name" class="browser-default" [(ngModel)]="user.job" name="job" class="form-control">
          <ng-container *ngFor="let job of jobs">
            <option [value]="job.id">{{job.name}}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="col s12">
      <button type="button" class="btn btn-success btn-sm" *ngIf="wants_to_change_password === false;"
              (click)="submitProfile()">Submit
        <i class="material-icons right">&rarr;</i>
      </button>
      <a [routerLink]="['/pages/profile/profile_detail', user.id]">Cancel</a>
    </div>
    <div class="col s12 row" *ngIf="wants_to_change_password">
      <div class="input-field col s6">
        <input placeholder="Old Password" [(ngModel)]="old_password" id="old_password" name="old_password"
               type="password" class="form-control">
      </div>
      <div class="input-field col s6">
        <input placeholder="New Password" [(ngModel)]="new_password" id="new_password" name="new_password"
               type="password" class="form-control">
      </div>
      <div class="input-field col s6">
        <input placeholder="Confirmation" [(ngModel)]="confirmation_password" id="confirmation_password"
               name="confirmation_password" type="password" class="form-control">
      </div>
      <button type="button" class="btn btn-success btn-sm" (click)="submitChangePassword(old_password, new_password)">
        Submit
        <i class="material-icons right">&rarr;</i>
      </button>
      <button class="btn btn-danger btn-tn" (click)="changePassword()">Cancel</button>
    </div>
  </nb-card-body>
</nb-card>
