<nb-card>
  <nb-card-header>
    Unit#{{unit.number}}
    <button class="btn btn-warning btn-tn" (click)="createUnitType()">Create Unit Type</button>
    <button class="btn btn-warning btn-tn" (click)="createClass()">Create Unit Class</button>
    <button class="btn btn-warning btn-tn" (click)="createCompany()">Create Company</button>

  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-sm-4 input-group">
        <label class="col-sm-4 form-control">Unit Type: </label>
        <select required [(ngModel)]="unit.unit_type" id="unit_type" [value]='unit.unit_type' name="unit_type"
                class="form-control" (change)="getUnitSubTypes()">
          <ng-container *ngFor="let unitType of unitTypes">
            <option>{{unit.unit_type.utype}}</option>
            <option *ngIf="unit.unit_type.utype !== unitType.utype" [value]="unitType.utype">{{unitType.utype}}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-3 form-control" for="company">Company: </label>
        <select required [(ngModel)]="unit.company" id="company" *ngIf="unit.company" [value]='unit.company'
                name="company" class="form-control">
          <ng-container *ngFor="let company of companies">
            <option>{{unit.company.name}}</option>
            <option *ngIf="unit.company.name !== company.name" [value]="company.name">{{company.name}}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-3 form-control" for="unit_status">Unit Status: </label>
        <select required [(ngModel)]="unit.unit_status" id="unit_status" [value]='unit.unit_status' name="company"
                class="form-control">
          <ng-container *ngFor="let unitStatus of unitStatuses">
            <option>{{unit.unit_status.status}}</option>
            <option *ngIf="unitStatus.status !== unit.unit_status.status" [value]="unitStatus.id">
              {{unitStatus.status}}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control">Unit Class: </label>
        <select id="unit_subtype" [(ngModel)]="unit.unit_subtype" name="unit_subtype" [value]='unit.unit_subtype'
                class="form-control">
          <ng-container *ngFor="let unitSubType of unitSubTypes">
            <option>{{unit.unit_subtype.subtype}}</option>
            <option *ngIf="unit.unit_subtype.subtype !== unitSubType.subtype" [value]="unitSubType.subtype">
              {{unitSubType.subtype}}
            </option>
          </ng-container>
          <option>Unit Class is not listed</option>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control">Job: </label>
        <select [(ngModel)]="unit.job_id" name="unit_job" [value]='unit.job' class="form-control">
          <ng-container *ngFor="let job of jobs">
            <option>{{unit.job}}</option>
            <option *ngIf="unit.job !== job.name" [value]="job.id">{{job.name}}</option>
          </ng-container>
          <option>Unit Class is not listed</option>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control">Unit Number: </label>
        <input required [(ngModel)]="unit.number" id="number" name="number" type="text" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-4 form-control">Plate: </label>
        <input required [(ngModel)]="unit.plate" id="plate" name="plate" type="text" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-3 form-control">Vin#: </label>
        <input required [(ngModel)]="unit.vin_sn" id="vin_sn" name="vin_sn" type="text" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control">Registration Date: </label>
        <input required [(ngModel)]="unit.registration_date" id="registration_date" name="registration_date" type="text"
               class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-4 form-control" for="description">Description: </label>
        <input required [(ngModel)]="unit.description" id="description" name="description" type="text"
               class="form-control">
      </div>
    </div>
  </nb-card-body>
</nb-card>

<div class="right-align">
  <button type="button" class="btn btn-success btn-sm" (click)="submitUnit(unit)">Submit
    <i class="material-icons right">&rarr;</i>
  </button>
  <a [routerLink]="['/pages/units/unit_detail', unit.id]">Cancel</a>
</div>
