<div class="modal-header">
  <span>Create User</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row show-grid">
    <div class="col-sm-6 input-group">
      <label for="email" class="col-sm-4 form-control">Email</label>
      <input placeholder="first.last@email.com" required [(ngModel)]="user.email" id="email" name="email" type="email"
             class="form-control">
    </div>
    <div class="col-sm-6 input-group">
      <label class="col-sm-4 form-control">Employee# </label>
      <input [(ngModel)]="user.employee_number" id="employee_number" name="employee_number" class="form-control">
    </div>
    <div class="col-sm-6 input-group">
      <label class="col-sm-4 form-control">Name: </label>
      <input [(ngModel)]="user.name" id="name" name="name" class="form-control">
    </div>
  </div>
  <hr>
  <div class="input-group">
    <label class="col-sm-4 form-control" for="job">Job: </label>
    <select id="job" class="col-tn-4 form-control" [(ngModel)]="user.job_id" name="job">
        <option *ngFor="let job of jobs" [value]="job.id">{{job.name}}</option>
    </select>
  </div>
  <div class="input-group">
    <label class="col-sm-4 form-control">Role: </label>
    <angular2-multiselect [data]="dropdownList" [(ngModel)]="user.roles" style="width: 85%;padding: 2%"
                          [settings]="dropDownSettings"
                          (onSelect)="onItemSelect($event)"
                          (onDeSelect)="OnItemDeSelect($event)">
      <c-item>
        <ng-template let-item="item">
          <font style="color: blue"><label>{{item.authority}}</label></font>
        </ng-template>
      </c-item>
    </angular2-multiselect>
  </div>
  <hr>
  <div class="row show-grid">
    <div class="col-sm-6 input-group">
      <label class="col-sm-4 form-control">Password: </label>
      <input type="password" [(ngModel)]="user.password" id="password" name="name" class="form-control">
    </div>
    <div class="col-sm-6 input-group">
      <label class="col-sm-4 form-control">Password Confirmation: </label>
      <input type="password" [(ngModel)]="user.password_confirmation" id="password_confirmation" name="name"
             class="form-control">
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" (click)="createUser(user)">Submit
      <i class="material-icons right">&rarr;</i>
    </button>
  </div>
</div>
