<div class="modal-header">
  <span>Create Unit Type</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row show-grid">
    <div class="col-sm-6 input-group">
      <label for="utype" class="col-sm-4 form-control">Unit Type</label>
      <input id="utype" [(ngModel)]="unit_type.utype" name="utype" class="form-control">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="createUnitType(unit_type)">Submit
    <i class="material-icons right">&rarr;</i>
  </button>
</div>
