<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Parts Requested: {{part_count.requested}}" type="info"
                         (click)="prefs.requested_parts = !prefs.requested_parts" [on]="prefs.requested_parts">
          <i class="fa fa-cogs"></i>
        </ngx-status-card>
      </div>
      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Parts Ordered: {{part_count.ordered}}" type="success"
                         (click)="prefs.ordered_parts = !prefs.ordered_parts" [on]="prefs.ordered_parts">
          <i class="fa fa-cogs"></i>
        </ngx-status-card>
      </div>
      <div class="col-xxxl-3 col-md-6">
        <ngx-status-card title="Parts Received: {{part_count.received}}" type="warning"
                         (click)="prefs.received_parts = !prefs.received_parts" [on]="prefs.received_parts">
          <i class="fa fa-cogs"></i>
        </ngx-status-card>
      </div>
    </div>

    <button (click)="saveSettings(prefs)">Save Settings</button>
  </nb-card-body>
</nb-card>
