[type='radio'].with-gap:checked + label:before {
  border-radius: 50%;
  border: 2px solid #0277bd;
}

[type='radio'].with-gap:checked + label:after {
  border-radius: 50%;
  border: 2px solid #dc143c;
  background-color: #dc143c;
  z-index: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}

[type='radio'].na:checked + label:before {
  border-radius: 50%;
  border: 2px solid #0277bd;
}

[type='radio'].na:checked + label:after {
  border-radius: 50%;
  border: 2px solid #989898;
  background-color: #989898;
  z-index: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}

.checkbox-indigo[type='checkbox'] + label:before {
  border: 2px solid red;
  background: transparent;
}

[type='checkbox']:checked + label:before {
  border: 2px solid transparent;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  background: transparent;
}
