<nb-card>
  <nb-card-header>
    Log List || <a [routerLink]="['logs_creation']" id="create_log" class="btn btn-warning btn-tn">Create Log</a>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="onLogClick($event)"
                     [source]="logSource"></ng2-smart-table>

  </nb-card-body>
</nb-card>
