<nb-card>
  <nb-card-header>
    <ngx-work-order-detail-header [work_order]="work_order" [id]="id" [unit]="unit" [edit]="edit"
                                  (onEdit)="onEdit()" [unit_status_edit]="unit_status_edit"
                                  (onUnitStatusEdit)="editUS()">
    </ngx-work-order-detail-header>
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-sm-6 form-group">
        Work Order #: {{work_order.id}} <br> Date Created: {{work_order.created_at | date}} <br>
        <span *ngIf="edit===false">Status: {{work_order.workorder_status?.status}}</span>
        <span *ngIf="edit===true">
        <ngx-work-order-status [edit]="edit" [work_order]="work_order"></ngx-work-order-status>
        <button class="btn btn-warning btn-tn" (click)="edit = false;">Cancel Edit</button>
      </span>

        <br> Other Description: {{work_order.other_description}} <br>
        <div *ngIf="vendor !== null">
          Vendor Assigned: {{vendor.name}} <br>
          Vendor Contact: {{vendor.contact_name}} <br>
          Vendor Phone Number: {{vendor.phone_number}}
        </div>
        <span *ngIf="work_order.mechanic !== null">Mechanic Assigned: {{work_order.mechanic}}</span>
        <br>
        <button class="btn btn-warning btn-tn" (click)="assign = !assign">Assign</button>
        <button [hidden]="!assign" class="btn btn-success btn-tn" (click)="assignMechanic()">Mechanic</button>
        <button [hidden]="!assign" class="btn btn-success btn-tn" (click)="assignVendor()">Vendor</button>
        <button [hidden]="!assign" class="btn btn-warning btn-tn" (click)="cancelAssignment()">Cancel</button>

        <div class="input-group" [hidden]="!mechanic">
          <label for="mechanic" class="col-sm-4 form-control">Mechanic </label>
          <span style="color: blue">
          <input ngui-auto-complete class="ngui-auto-complete form-control-lg" [(ngModel)]="work_order.mechanic"
                 id="mechanic" [source]="mechanics" [list-formatter]="valueFormatter" value-property-name="id"
                 display-property-name="name" auto-complete-placeholder="Select Mechanic">
        </span>
        </div>
        <div class="input-group" [hidden]="!vendor_select">
          <label for="vendor" class="col-sm-4 form-control">Vendor </label>
          <span style="color:blue">
            <input ngui-auto-complete class="ngui-auto-complete form-control-lg" [(ngModel)]="work_order.vendor"
                   id="vendor"
                   [source]="vendors" [list-formatter]="valueFormatter"
                   value-property-name="id"
                   display-property-name="name"
                   auto-complete-placeholder="Select Vendor">
          </span>
        </div>
      </div>

      <div class="col-sm-6 form-group">
        Unit: {{work_order.unit?.number}} <br> Description: {{work_order.unit?.description}} <br>
        <span [hidden]="unit_status_edit">
        <label>Unit Status: </label> {{work_order.unit?.unit_status?.status}}
      </span>

        <div *ngIf="unit_status_edit">
          <ngx-unit-status [unit_status_edit]="unit_status_edit" [unit]="unit"></ngx-unit-status>
          <button class="btn btn-warning btn-tn" (click)="unit_status_edit = false;">Cancel Edit</button>
        </div>
      </div>
    </div>
    <hr>

    <div>
      <ngx-prop-truck-creation *ngIf="work_order.unit?.unit_type?.utype==='Truck'"></ngx-prop-truck-creation>
      <ngx-prop-trailer-creation *ngIf="work_order.unit?.unit_type?.utype==='Trailer'"></ngx-prop-trailer-creation>
      <ngx-prop-equipment-creation
        *ngIf="work_order.unit?.unit_type?.utype==='Equipment'"></ngx-prop-equipment-creation>
    </div>
    <button class="btn btn-success btn-md" (click)="updateWorkOrder(work_order)">Update Work Order
      <i class="material-icons right">&rarr;</i>
    </button>
  </nb-card-body>
</nb-card>
<hr>
<ngx-call-interface [call_log_source]="call_log_source"></ngx-call-interface>
<hr>
<ngx-part-interface [work_order]="work_order" [part_source]="part_source"></ngx-part-interface>
<ngx-messages [messages]="messages"></ngx-messages>
