<nb-card>
  <nb-card-header>
    Parts List || <a [routerLink]="['part_creation']" id="create_part" class="btn btn-warning btn-tn">Create Part</a>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="onPartClick($event)"
                     [source]="source"></ng2-smart-table>
  </nb-card-body>
</nb-card>
