<nb-card>
  <nb-card-header>
    Current Users ||
    <button type="button" class="btn btn-info btn-tn" (click)="createUser()">Create User</button>
  </nb-card-header>
  <nb-card-body>
    <div>
      <ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="editUser($event)"
                       [source]="users_source"></ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>
