<button (click)="callLogButtonClick()">Create Call Log</button>
<ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="onCallLogClick()"
                 [source]="call_log_source"></ng2-smart-table>
