<nb-card>
  <nb-card-header>
    New Unit ||
    <button (click)="openUnitTypeModal()" class="btn btn-warning btn-tn">Create Unit Type</button>
    ||
    <button (click)="openUnitSubTypeModal()" class="btn btn-warning btn-tn">Create Unit Class</button>
    ||
    <button (click)="openUnitStatusModal()" class="btn btn-warning btn-tn">Create Unit Status</button>
    ||
    <button (click)="openCompanyModal()" class="btn btn-warning btn-tn">Create Company</button>
    ||
    <button (click)="createOperatorModal()" class="btn btn-warning btn-tn">Create Operator</button>
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-sm-4 input-group">
        <label class="col-sm-4 form-control">Unit Type: </label>
        <select required [(ngModel)]="unit.unit_type_id" id="unit_type" [value]='unit.unit_type_id' name="unit_type"
                class="form-control" (change)="getUnitSubTypes(unit)">
          <ng-container *ngFor="let unitType of  unitTypes">
            <option [value]="unitType.id">{{unitType.utype}}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control">Unit Class: </label>
        <select id="unit_subtype" [(ngModel)]="unit.unit_subtype_id" name="unit_subtype" [value]='unit.unit_subtype_id'
                class="form-control">
          <ng-container *ngFor="let unitSubType of unitSubTypes">
            <option [value]="unitSubType.id">{{unitSubType.subtype}}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-3 form-control" for="unit_status">Unit Status: </label>
        <select required [(ngModel)]="unit.unit_status" id="unit_status"
                [value]="unit.unit_status" name="unit_status"
                class="form-control">
          <ng-container *ngFor="let unitStatus of unitStatuses">
            <option [value]="unitStatus.id">{{unitStatus.status}}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-3 form-control" for="company">Company: </label>
        <select required [(ngModel)]="unit.company_id" id="company" [value]='unit.company_id' name="company"
                class="form-control">
            <option *ngFor="let company of companies" [ngValue]="company.id">{{company.name}}</option>
        </select>
      </div>
      <div class="col-sm-4 input-group">
        <label for="unit_number" class="col-sm-5 form-control">Unit Number: </label>
        <input id="unit_number" required [(ngModel)]="unit.number" name="number" type="text" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-4 form-control">Plate: </label>
        <input required [(ngModel)]="unit.plate" id="plate" name="plate" type="text" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-3 form-control">Vin#: </label>
        <input required [(ngModel)]="unit.vin_sn" id="vin_sn" name="vin_sn" type="text" class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-5 form-control">Registration Date: </label>
        <input required [(ngModel)]="unit.registration_date" id="registration_date" name="registration_date" type="date"
               class="form-control">
      </div>
      <div class="col-sm-4 input-group">
        <label class="col-sm-4 form-control" for="description">Description: </label>
        <input required [(ngModel)]="unit.description" id="description" name="description" type="text"
               class="form-control">
      </div>
    </div>
  </nb-card-body>
</nb-card>
<div class="col-sm-6 input-group">
  <label class="col-sm-4 form-control" for="operator">Operator: </label>
  <font color="blue">
    <input ngui-auto-complete class="ngui-auto-complete form-control" [(ngModel)]="unit.operator_id" id="operator"
           [source]="operators" [list-formatter]="valueFormatter" value-property-name="id" (click)="getOperators()"
           display-property-name="name" auto-complete-placeholder="Select Operator">
  </font>
</div>

<div style="float:right;">
  <a [routerLink]="['/pages/units/']">Cancel</a>
  <button type="button" class="btn btn-success btn-sm" (click)="submitUnit(unit)">Submit
    <i class="material-icons right">&rarr;</i>
  </button>
</div>
