<nb-card>
  <nb-card-header>
    Units List || <a [routerLink]="['unit_creation']" class="btn btn-warning btn-tn">Create Unit</a>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="unit_source"
                     (userRowSelect)="onUnitClick($event)"></ng2-smart-table>
  </nb-card-body>
</nb-card>
