<nb-card>
  <nb-card-header>
    <div class="col s12 row">
      <div class="col s6">
        User Detail
      </div>
      <div class="col s6">
        <button class="btn btn-danger btn-tn" (click)="editUser()">Edit</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row col s12">
      <div class="col s6">
        Status: {{user.status}}
        <br>
        Role: {{user.role}}
        <br>
        Job: {{user.job}}
      </div>
      <div class="col s6">
        Email: {{user.email}}
        <br>
        Name: {{user.name}}
      </div>
    </div>
  </nb-card-body>
</nb-card>
