<nb-card>
  <nb-card-header>
    <div class="col-sm-12 row">
      <div class="col-sm-6">
        Storage Location: {{location.description}}
      </div>
      <div class="col-sm-6">
        <button class="btn btn-danger btn-tn" (click)="editLocation()">Edit</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <label>Description: </label> {{location.description}}
  </nb-card-body>
</nb-card>
<h4>Parts in location</h4>
<div>
  <ng2-smart-table [settings]="settings" (userRowSelect)="onPartClick($event)" [source]="source"
                   (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
</div>
