<nb-card>
  <nb-card-header>
    Notifications
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table id="mfTable" [settings]="notification_settings" (userRowSelect)="navigateToNotification($event)"
                     [source]="notification_source"></ng2-smart-table>
  </nb-card-body>
</nb-card>
