<div class="auth-main">
  <div class="auth-block">
    <h1>Sign In</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit(user)" class="form-horizontal">
      <div class="form-group row"
           [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <label for="inputEmail3" class="col-sm-2 control-label">Email Address</label>

        <div class="col-sm-10">
          <input [formControl]="email" type="email" [(ngModel)]="user.email" class="form-control" id="inputEmail3"
                 placeholder="Email">
        </div>
      </div>
      <div class="form-group row"
           [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input [formControl]="password" [(ngModel)]="user.password" type="password" class="form-control"
                 id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="!form.valid" type="submit" class="btn btn-block btn-hero-success"
                  [class.btn-pulse]="submitted">Sign In
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
