<div class="row col s12">
  <div class="col s6">
    <h3>Unit {{unit.number}} Detail</h3>
  </div>
  <div class="col s6">
    <a [routerLink]="['/pages/units/unit_edit/', id]">Edit</a> ||
    <a [routerLink]="['/pages/logs/logs_creation/', unit.number]">Create Log</a> ||
    <a [routerLink]="['/pages/work_orders/work_order_creation/', unit.number]">Create Work Order</a> ||
    <button class="btn btn-success btn-tn" (click)="addPartOrderedAndInstalled()">Add part</button>
  </div>
</div>
<hr>
<div class="row col s12">
  <div class="col s6">
    Unit Type: {{unit.unit_type?.utype}} <br>
    Unit ID: {{unit.id}} <br>
    Unit Description: {{unit.description}} <br>
    Operator: {{unit.operator}} <br>
    Job: {{unit.job?.name}}
  </div>
  <div class="col s6">
    <label>VIN/SN: </label> {{unit.vin_sn}}
    <br>
    <label>Plate: </label> {{unit.plate}}
    <br>
    <label>Registration Date: </label> {{unit.registration_date | date}}
    <br>
    <label>Owned By: </label> {{unit.company?.name}}
  </div>
</div>
<hr>
<div class="row col s12">
  <div class="col s6">
    <nb-card>
      <nb-card-header>
        Unit Workorders
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="wo_settings" [source]="work_orders"
                         (userRowSelect)="onWorkOrderClick($event)"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col s6">
    <nb-card>
      <nb-card-header>
        Unit Logs
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="log_settings" [source]="logs"
                         (userRowSelect)="onLogClick($event)"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
        Unit Activity Log
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="activity_settings" [source]="activity_logs"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row show-grid">
  <div class="col s6">
    <nb-card>
      <nb-card-header>
        Unit Parts
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="parts_settings" [source]="parts"
                         (userRowSelect)="onPartClick($event)"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
