<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
  </div>
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action>
    <div class="logo" (click)="goToHome()"><img height="64dp" [src]="logo">Demo Company Name</div>
  </nb-action>
  <nb-action>
    <nb-user [menu]="userMenu" [name]="email" [picture]="user?.picture"></nb-user>
  </nb-action>
  <nb-action>
    <div>
      <button class="btn btn-outline-primary" (click)="openNotificationModal()">Notifications</button>
    </div>
  </nb-action>
</nb-actions>
