<div *ngIf="this.messages!== []">
  <h3>Current Notes</h3>
  <hr>
  <div *ngFor="let message_ of messages">
    <p>
      <strong>Made By: </strong>{{message_.users[0].name}}
      <strong>Date Posted: </strong>{{message_.created_at | date}}
      <br>
      <strong>Message: </strong>{{message_.message}}
    </p>
    <hr>
  </div>
</div>

<h3>Post a Note</h3>
<form (ngSubmit)="postMessage(message)">
  <label>Message: </label>
  <p>
    <textarea [(ngModel)]="message.message" name="{{'message_text' + index}}" rows="4" cols="50"
              placeholder=""></textarea>
  </p>
  <br>
  <button class="btn btn-primary" type="submit">Post Message</button>
</form>
