<button (click)="createMechCSV()">Export MechCSV</button>
<button (click)="createVendorCSV()">Export VendorCSV</button>

<nb-tabset>
  <nb-tab tabTitle="Vendor Work Orders">
    <ng2-smart-table id="mfTable" (userRowSelect)="onWorkOrderClick($event)" [settings]="vendor_settings"
                     [source]="vendor_source"></ng2-smart-table>
  </nb-tab>
  <nb-tab tabTitle="Mechanic Work Orders">
    <ng2-smart-table id="mfTable1" (userRowSelect)="onWorkOrderClick($event)" [settings]="mech_settings"
                     [source]="mechanic_source"></ng2-smart-table>
  </nb-tab>
</nb-tabset>


