<nb-card>
  <nb-card-body>
    <div [formGroup]="truckPropForm">
      <div class="row show-grid">
        <div class="col-sm-6">
          Seat Belts:
          <br>
          <input id="seat_belts_ok" type="radio" formControlName="seat_belts" value="ok">
          <label for="seat_belts_ok">Ok</label>
          <input id="seat_belts_defect" type="radio" class="with-gap" formControlName="seat_belts" value="defective">
          <label for="seat_belts_defect">Defective</label>
          <input id="seat_belts_na" class="na" type="radio" formControlName="seat_belts" value="na">
          <label for="seat_belts_na">N/A</label>
          <br>
          Steering:
          <br>
          <input id="steering_ok" type="radio" formControlName="steering" value="ok">
          <label for="steering_ok">Ok</label>
          <input id="steering_defect" type="radio" class="with-gap" formControlName="steering" value="defective">
          <label for="steering_defect">Defective</label>
          <input id="steering_na" class="na" type="radio" formControlName="steering" value="na">
          <label for="steering_na">N/A</label>
          <br>
          Service Brakes:
          <br>
          <input id="service_brakes_ok" type="radio" formControlName="service_brakes" value="ok">
          <label for="service_brakes_ok">Ok</label>
          <input id="service_brakes_defect" type="radio" class="with-gap" formControlName="service_brakes"
                 value="defective">
          <label for="service_brakes_defect">Defective</label>
          <input id="service_brakes_na" class="na" type="radio" formControlName="service_brakes" value="na">
          <label for="service_brakes_na">N/A</label>
          <br>
          Parking Brake:
          <br>
          <input id="parking_brake_ok" type="radio" formControlName="parking_brake" value="ok">
          <label for="parking_brake_ok">Ok</label>
          <input id="parking_brake_defect" type="radio" class="with-gap" formControlName="parking_brake"
                 value="defective">
          <label for="parking_brake_defect">Defective</label>
          <input id="parking_brake_na" class="na" type="radio" formControlName="parking_brake" value="na">
          <label for="parking_brake_na">N/A</label>
          <br>
          Windshield:
          <br>
          <input id="windshield_ok" type="radio" formControlName="windshield" value="ok">
          <label for="windshield_ok">Ok</label>
          <input id="windshield_defect" type="radio" class="with-gap" formControlName="windshield" value="defective">
          <label for="windshield_defect">Defective</label>
          <input id="windshield_na" class="na" type="radio" formControlName="windshield" value="na">
          <label for="windshield_na">N/A</label>
          <br>
          Wipers:
          <br>
          <input id="wipers_ok" type="radio" formControlName="wipers" value="ok">
          <label for="wipers_ok">Ok</label>
          <input id="wipers_defect" type="radio" class="with-gap" formControlName="wipers" value="defective">
          <label for="wipers_defect">Defective</label>
          <input id="wipers_na" class="na" type="radio" formControlName="wipers" value="na">
          <label for="wipers_na">N/A</label>
          <br>
          Mirrors:
          <br>
          <input id="mirrors_ok" type="radio" formControlName="mirrors" value="ok">
          <label for="mirrors_ok">Ok</label>
          <input id="mirrors_defect" type="radio" class="with-gap" formControlName="mirrors" value="defective">
          <label for="mirrors_defect">Defective</label>
          <input id="mirrors_na" class="na" type="radio" formControlName="mirrors" value="na">
          <label for="mirrors_na">N/A</label>
          <br>
          Horn:
          <br>
          <input id="horn_ok" type="radio" formControlName="horn" value="ok">
          <label for="horn_ok">Ok</label>
          <input id="horn_defect" type="radio" class="with-gap" formControlName="horn" value="defective">
          <label for="horn_defect">Defective</label>
          <input id="horn_na" class="na" type="radio" formControlName="horn" value="na">
          <label for="horn_na">N/A</label>
          <br>
          Lighting:
          <br>
          <input id="lighting_ok" type="radio" formControlName="lighting" value="ok">
          <label for="lighting_ok">Ok</label>
          <input id="lighting_defect" type="radio" class="with-gap" formControlName="lighting" value="defective">
          <label for="lighting_defect">Defective</label>
          <input id="lighting_na" class="na" type="radio" formControlName="lighting" value="na">
          <label for="lighting_na">N/A</label>
        </div>
        <div class="col-sm-6">
          Reflectors:
          <br>
          <input id="reflectors_ok" type="radio" formControlName="reflectors" value="ok">
          <label for="reflectors_ok">Ok</label>
          <input id="reflectors_defect" type="radio" class="with-gap" formControlName="reflectors" value="defective">
          <label for="reflectors_defect">Defective</label>
          <input id="reflectors_na" class="na" type="radio" formControlName="reflectors" value="na">
          <label for="reflectors_na">N/A</label>
          <br>
          Drive Line:
          <br>
          <input id="drive_line_ok" type="radio" formControlName="drive_line" value="ok">
          <label for="drive_line_ok">Ok</label>
          <input id="drive_line_defect" type="radio" class="with-gap" formControlName="drive_line" value="defective">
          <label for="drive_line_defect">Defective</label>
          <input id="drive_line_na" class="na" type="radio" formControlName="drive_line" value="na">
          <label for="drive_line_na">N/A</label>
          <br>
          Tires/Wheels:
          <br>
          <input id="tires_wheels_ok" type="radio" formControlName="tires_wheels" value="ok">
          <label for="tires_wheels_ok">Ok</label>
          <input id="tires_wheels_defect" type="radio" class="with-gap" formControlName="tires_wheels"
                 value="defective">
          <label for="tires_wheels_defect">Defective</label>
          <input id="tires_wheels_na" class="na" type="radio" formControlName="tires_wheels" value="na">
          <label for="tires_wheels_na">N/A</label>
          <br>
          Glad Hands:
          <br>
          <input id="glad_hands_ok" type="radio" formControlName="glad_hands" value="ok">
          <label for="glad_hands_ok">Ok</label>
          <input id="glad_hands_defect" type="radio" class="with-gap" formControlName="glad_hands" value="defective">
          <label for="glad_hands_defect">Defective</label>
          <input id="glad_hands_na" class="na" type="radio" formControlName="glad_hands" value="na">
          <label for="glad_hands_na">N/A</label>
          <br>
          Kingpin:
          <br>
          <input id="kingpin_ok" type="radio" formControlName="kingpin" value="ok">
          <label for="kingpin_ok">Ok</label>
          <input id="kingpin_defect" type="radio" class="with-gap" formControlName="kingpin" value="defective">
          <label for="kingpin_defect">Defective</label>
          <input id="kingpin_na" class="na" type="radio" formControlName="kingpin" value="na">
          <label for="kingpin_na">N/A</label>
          <br>
          Rims:
          <br>
          <input id="rims_ok" type="radio" formControlName="rims" value="ok">
          <label for="rims_ok">Ok</label>
          <input id="rims_defect" type="radio" class="with-gap" formControlName="rims" value="defective">
          <label for="rims_defect">Defective</label>
          <input id="rims_na" class="na" type="radio" formControlName="rims" value="na">
          <label for="rims_na">N/A</label>
          <br>
          Fifth Wheel
          <br>
          <input id="fifth_wheel_ok" type="radio" formControlName="fifth_wheel" value="ok">
          <label for="fifth_wheel_ok">Ok</label>
          <input id="fifth_wheel_defect" type="radio" class="with-gap" formControlName="fifth_wheel" value="defective">
          <label for="fifth_wheel_defect">Defective</label>
          <input id="fifth_wheel_na" class="na" type="radio" formControlName="fifth_wheel" value="na">
          <label for="fifth_wheel_na">N/A</label>
          <br>
          Emergency Equipment:
          <br>
          <input id="emergency_equipment_ok" type="radio" formControlName="emergency_equipment" value="ok">
          <label for="emergency_equipment_ok">Ok</label>
          <input id="emergency_equipment_defect" type="radio" class="with-gap" formControlName="emergency_equipment"
                 value="defective">
          <label for="emergency_equipment_defect">Defective</label>
          <input id="emergency_equipment_na" class="na" type="radio" formControlName="emergency_equipment" value="na">
          <label for="emergency_equipment_na">N/A</label>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
