<nb-card (click)="on = !on" [ngClass]="{false: !on}">
  <div class="icon-container">
    <div class="icon {{ type }}">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="details">
    <div class="title">{{ title }}</div>
    <div class="status"><font size="5">{{ on ? 'ON' : 'OFF' }}</font></div>
  </div>
</nb-card>
