<nb-card>
  <nb-card-header>
    Log {{log.id}} | <a [routerLink]="['/pages/units/unit_detail/', log.unit_id]"><font color="red">View Unit</font></a>
    |
    <a [routerLink]="['/pages/work_orders/work_order_detail/', log.workorder.id]" *ngIf="log.workorder"><font
      color="yellow">View
      Work Order</font></a>
  </nb-card-header>
  <nb-card-body>
    Date Created: {{log.created_at | date}}
    <br>
    Created By: {{log.created_by}}
    <br>
    Unit: {{log.unit_number}}
    <br>
    Deficiency: {{log.deficiency}}
    <br>
    Job: {{log.job}}
    <br>
    Operator: {{log.operator}}
  </nb-card-body>
</nb-card>
