<div class="col s12 row">
  <div class="col s6">
    <nb-card>
      <nb-card-header>
        Order Parts or Pull from Inventory
      </nb-card-header>
      <nb-card-body>
        <div class="col s6">
          <button class="btn btn-info btn-tn" *ngIf="user_role === 'Admin' || user_role === 'Staff'"
                  (click)="pull_part = true;">Pull Part from Inventory
          </button>
          <button class="btn btn-info btn-tn" (click)="requestPart()">Request Part</button>
          <button class="btn btn-info btn-tn" *ngIf="user_role === 'Admin' || user_role === 'Staff'"
                  (click)="orderPart()">Order Part
          </button>
        </div>
        <div class="col s6 input-group" [hidden]="pull_part === false">
          <label class="col-sm-4 form-control" for="part_number_desc">Part</label>
          <input id="part_number_desc" [(ngModel)]="part_number_desc" name="part_number_desc"
                 class="col-sm-6 form-control">
          <button (click)="pullPartFromInv(part_number_desc)" class="btn btn-primary">Search</button>
        </div>
        <div class="col s6" *ngIf="show_inv_table">
          <ng2-smart-table [settings]="inv_parts_settings" (userRowSelect)="onInvPartClick($event)"
                           [source]="inv_part_source"></ng2-smart-table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col s6">
    <nb-card>
      <nb-card-header>
        Parts that have already been pulled/ordered/installed
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="parts_settings" (userRowSelect)="onPartClick($event)"
                         [source]="part_source"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
