<div class="modal-header">
  <span>Order a Part for Unit# {{unit.number}} on Work Order# {{work_order.id}}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row show-grid">
    <div class="col-sm-6 input-group">
      <label for="qty" class="col-sm-4 form-control">Quantity</label>
      <input id="qty" [(ngModel)]="part.qty" name="qty" class="form-control">
    </div>
    <div class="col-sm-6 input-group">
      <label for="description" class="col-sm-4 form-control">Description</label>
      <input id="description" [(ngModel)]="part.description" name="description" class="form-control">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="requestPart(part)">Submit
      <i class="material-icons right">&rarr;</i>
    </button>
  </div>
</div>
