<nb-card>
  <nb-card-header>
    <div class="col s12 row">
      <div class="col s6">
        Edit User
      </div>
      <div class="col s6">
        <button type="button" class="btn btn-danger btn-tn" (click)="resetUserPassword()">Reset Password
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="col s12 row">
      <div class="col-sm-6 input-group">
        <label for="email" class="col-sm-4 form-control">Email </label>
        <input required type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="name" class="col-sm-4 form-control">Name </label>
        <input required type="text" id="name" [(ngModel)]="user.name" name="name" class="form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="status" class="col-sm-4 form-control">Status </label>
        <select required [(ngModel)]="user.user_status" id="status" [value]='user.user_status' name="status"
                class="form-control">
          <option>{{user.user_status}}</option>
          <option *ngIf="user.user_status !== 'Active'">Active</option>
          <option>Inactive</option>
        </select>
      </div>
      <div class="col s6 input-group">
        <label for="role" class="col-sm-4 form-control">Role </label>
        <select id="role" class="col-tn-4 form-control" [(ngModel)]="user.role_id" name="unit_status">
          <ng-container *ngFor="let role of roles">
            <option [value]="role.id">{{role.name}}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-sm-6 input-group">
        <label for="employee_number" class="col-sm-4 form-control">Employee # </label>
        <input id="employee_number" required [(ngModel)]="user.employee_number" name="employee_number"
               class="form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="job" class="col-sm-4 form-control">Job: </label>
        <select id="job" class="form-control" [(ngModel)]="user.job" name="job">
          <ng-container *ngFor="let job of jobs">
            <option>{{job.name}}</option>
            <option *ngIf="job.name!=job.name" [value]="job.id">{{job.name}}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<div class="col s12">
  <button type="button" class="btn btn-success btn-sm" (click)="submitProfile()">Submit
    <i class="material-icons right">&rarr;</i>
  </button>
  <a [routerLink]="['/pages/users/detail', user.id]">Cancel</a>
</div>
