<div class="col s12 row">
  <div class="col s6">
    <h4>Profile</h4>
  </div>
  <div class="col s6">
    <button class="btn btn-danger btn-tn" (click)="editProfile()">Edit</button>
  </div>
</div>
<div class="col s12 row">
  <div class="col s6">
    <label>Name:</label>
    {{user.name}}
    <br>
    <label>Job: </label>
    {{user.job?.name}}
  </div>
  <div class="col s6">
    <label>Email: </label>
    {{user.email}}
    <br>
    <label>Employee Number: </label>
    {{user.employee_number}}
  </div>
</div>
