<nb-card>
  <nb-card-header>
    <h2>{{timesheet.user?.name}} Timesheet for {{timesheet.created_at | date}}</h2>
  </nb-card-header>
  <nb-card-body>
    <div class="col s12 row">
      <div class="col-sm-4">
        Clocked In: {{timesheet.timeIn}} <br>
        Clocked Out for Lunch: {{timesheet.lunchOut}} <br>
        Clocked In from Lunch: {{timesheet.lunchIn}} <br>
        Clocked Out: {{timesheet.timeOut}} <br>
        Total Time: {{timesheet.totalTime}}
      </div>
      <div class="col-sm-4">
        <button (click)="clockedInMarker()">Show Clocked In Location</button> <br>
        <button (click)="clockOutForLunchMarker()">Clocked Out for Lunch Location</button> <br>
        <button (click)="clockInForLunchMarker()">Clocked In for Lunch Location</button> <br>
        <button (click)="clockedOutMarker()">Clocked Out Location</button> <br>
      </div>
      <div class="col-sm-4">
        <agm-map [latitude]="lat" [longitude]="long" >
          <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
        </agm-map>
      </div>
    </div>
  </nb-card-body>
</nb-card>

