<div class="modal-header">
  <span>Create Call Log</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <label for="message">What Happened during the call:</label>
    <br>
    <textarea id="message" class="form-control" [(ngModel)]="call_log.message"></textarea>
  </div>
  <div>
    <label for="date">Follow up Date: </label>
    <input id="date" type="date" [(ngModel)]="call_log.followup_date" name="date"
           class="datepicker col-sm-6 form-control">
  </div>
  <hr>
  <div class="row show-grid">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" (click)="createCallLog(call_log)">Submit
      <i class="material-icons right">&rarr;</i>
    </button>
  </div>
</div>
