New Maintenance Log
<nb-card>
  <nb-card-header>
    <div class="col-sm-6 input-group">
      <label class="col-sm-4 form-control" for="number">Unit number</label>
      <input class="col-sm-6 form-control" id="number" [(ngModel)]="number" name="number">
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success btn-sm" *ngIf="number_submitted === false" (click)="getUnit(number)">Submit
        <i class="material-icons right">&rarr;</i>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid" [hidden]="!unit.number">
      <div class="col-sm-6 input-group">
        <label for="meter" class="col-sm-4 form-control">Meter: </label>
        <input [(ngModel)]="log.meter" id="meter" name="meter" type="text" class="validate"
               class="col-sm-6 form-control">
      </div>
      <div class="col-sm-6 input-group">
        <label for="operator" class="col-sm-4 form-control">Select Operator: </label>
        <font color="blue">
          <input ngui-auto-complete class="ngui-auto-complete form-control" [(ngModel)]="log.operator" id="operator"
                 [source]="operators" [list-formatter]="valueFormatter" value-property-name="id"
                 display-property-name="name" auto-complete-placeholder="Select Operator">
        </font>
      </div>
      <div class="col-sm-6 input-group">
        <label for="job" class="col-sm-4 form-control">Job: </label>
        <font color="blue">
          <input ngui-auto-complete class="ngui-auto-complete form-control" [(ngModel)]="log.job_id" id="job"
                 [source]="jobs" [list-formatter]="valueFormatter" value-property-name="id"
                 display-property-name="name" auto-complete-placeholder="Select Job">
        </font>
      </div>
      <div class="col s12" *ngIf="unit.id === 0">
        <label class="col-sm-4 form-control">Unit Type: </label>
        <div>
          <button (click)="unit.unit_type='Truck'">Truck</button>
          <button (click)="unit.unit_type='Trailer'">Trailer</button>
          <button (click)="unit.unit_type='Equipment'">Equipment</button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<div>
  <ngx-properties [unit]="unit"></ngx-properties>
</div>
<div class="col s6" [hidden]="!unit.unit_type">
  <input id="other" [(ngModel)]="other" name="other" type="checkbox" FormControlName="other">
  <label for="other">Other</label>
  <input type="text" [(ngModel)]="log.other_description" name="other_description" *ngIf="other === true"
         class="form-control">
  <br>
  <div *ngIf="user_role === 'Admin'">
    <input id="deficiency" type="checkbox">
    <label for="deficiency">Has Deficiency</label>
  </div>
</div>
<div [hidden]="!unit.unit_type" class="right-align">
  <button class="btn btn-success btn-sm" (click)="submitLog(log)">Submit
    <i class="material-icons right">&rarr;</i>
  </button>
</div>
