<label for="unit_status">Unit Status: </label>
<select id="unit_status" class="col-tn-4 form-control" [(ngModel)]="unit.unit_status_id" name="unit_status">
  <option *ngFor="let unit_status of unit_statuses" [value]="unit_status.id">{{unit_status.status}}</option>
</select>
<br>
<button class="btn btn-success btn-tn" (click)="editUnitStatus()">Update Unit Status</button>

