<nb-card>
  <nb-card-header>
    Job List || <a [routerLink]="['job_creation']" id="create_job" class="btn btn-warning btn-tn">Create Job</a>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table id="mfTable" [settings]="settings" (userRowSelect)="onJobClick($event)"
                     [source]="source"></ng2-smart-table>
  </nb-card-body>
</nb-card>
